
.cr-list{
    width: 100%;
}


.cr-list-header{
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #333;
    padding: 10px 0px;
    border-bottom: 2px solid #999;
    cursor: pointer;
}

.cr-sort-icon {
    color: #006db7;
    font-size: 1rem;
}